<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        // 2. 模拟实现instanceof
        const instanceOf = (obj) => {
            if (obj.__proto__.constructor.name === 'Array') {
                return `该值的类型为Array`;
            } else if (obj.__proto__.constructor.name === 'Object') {
                return `该值的类型为Object`;
            } else if (obj.__proto__.constructor.name === 'Function') {
                return `该值的类型为Function`;
            } else {
                return '抱歉，暂只支持数组/对象/函数的类型查询，暂无该数据类型的判断'
            }
        }
        const arr = [1, 2, 3]
        const obj = {}
        console.log(instanceOf(1));
        // console.log(arr.__proto__.constructor.name === 'Array');
        // console.log(obj.__proto__.constructor.name === 'Object');
        // console.log(arr instanceof Array); // true
    </script>
</body>

</html>